.peg {
  width: 65px;
  height: 65px;
  border: 1px solid black;
}

.w-peg {
  background-color: white;
}

.r-peg {
  background-color: red;
}

.o-peg {
  background-color: orange;
}

.y-peg {
  background-color: yellow;
}

.gn-peg {
  background-color: green;
}

.b-peg {
  background-color: blue;
}

.p-peg {
  background-color: purple;
}

.g-peg {
  background-color: gray;
}
