.colors-main {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 15vw;
  justify-content: space-around;
  background-color: black;
  padding: 0 10px 0 10px;
  border-right: 1px solid white;
  color: white;
}
.directions {
  background-color: purple;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  text-align: center;
}
.colors-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 10px 0;
  padding: 5px;
  height: 50vh;
}

.peg,
.colors-main button {
  width: 7vh;
  height: 7vh;
  margin: 5%;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 8vh;
}
.peg:hover {
  cursor: pointer;
}

.w-peg {
  @include button-shading(white);
}
.w-peg:hover {
}

.r-peg {
  @include button-shading(red);
}

.o-peg {
  @include button-shading(orange);
}

.y-peg {
  @include button-shading(yellow);
}

.gn-peg {
  @include button-shading(green);
}

.b-peg {
  @include button-shading(blue);
}

.p-peg {
  @include button-shading(purple);
}

.pi-peg {
  @include button-shading(hotpink);
}

.g-peg {
  @include button-shading(gray);
}
