.colors-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  height: 98vh;
  padding: 0 10px 0 10px;
  border-right: 1px solid white;
}

.peg,
.colors-main button {
  width: 9vh;
  height: 9vh;
  margin: 2px;
  border-radius: 50%;
}
.peg:hover {
  cursor: pointer;
}

.w-peg {
  @include button-shading(white);
}
.w-peg:hover {
}

.r-peg {
  @include button-shading(red);
}

.o-peg {
  @include button-shading(orange);
}

.y-peg {
  @include button-shading(yellow);
}

.gn-peg {
  @include button-shading(green);
}

.b-peg {
  @include button-shading(blue);
}

.p-peg {
  @include button-shading(purple);
}

.pi-peg {
  @include button-shading(hotpink);
}

.g-peg {
  @include button-shading(gray);
}
