@mixin peg-shading($color) {
  background-image: radial-gradient($color 45%, darken($color, 50%));
}

@mixin button-shading($color) {
  background-image: radial-gradient(
    darken($color, 8%),
    $color 55%,
    darken($color, 80%)
  );
}

@mixin on-peg($color) {
  background-color: lighten($color, 10%);
  box-shadow: 0px 0px 20px lighten($color, 20%);
  background-image: none;
}
