.peg-board {
  display: flex;
  background-color: black;
}

//at 2500 holes

// .grid {
//   display: grid;
//   grid-template-columns: repeat(50, 2%);
//   width: 120vh;
//   height: 98vh;
//   margin: 0 10px 0 10px;
// }

//at 1600 holes

// .grid {
//   display: grid;
//   grid-template-columns: repeat(40, 2.5%);
//   width: 120vh;
//   height: 98vh;
//   margin: 0 10px 0 10px;
// }

// at 900 holes

.grid {
  display: grid;
  grid-template-columns: repeat(30, 3.33%);
  width: 98vh;
  height: 98vh;
  margin: 0 10px 0 10px;
}

//at 400 holes

// .grid {
//   display: grid;
//   grid-template-columns: repeat(20, 5%);
//   width: 120vh;
//   height: 98vh;
//   margin: 0 10px 0 10px;
// }

.hole-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hole-border div {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: 0;
}

//colors holes based on color and light status

#g {
  background-color: rgb(22, 22, 22);
}
#w {
  @include peg-shading(lightgray);
}
#r {
  @include peg-shading(red);
}
#o {
  @include peg-shading(orange);
}
#y {
  @include peg-shading(yellow);
}
#gn {
  @include peg-shading(green);
}
#b {
  @include peg-shading(blue);
}
#p {
  @include peg-shading(purple);
}

#pi {
  @include peg-shading(hotpink);
}

#w.on {
  @include on-peg(white);
}

#r.on {
  @include on-peg(red);
}

#o.on {
  @include on-peg(orange);
}

#y.on {
  @include on-peg(yellow);
}

#gn.on {
  @include on-peg(green);
}

#b.on {
  @include on-peg(blue);
}

#p.on {
  @include on-peg(purple);
}

#pi.on {
  @include on-peg(rgb(243, 24, 134));
}
