.peg-board {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: repeat(30, 3.4%);
  width: 98vh;
  height: 98vh;
}

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-left: 1px solid white;
  padding: 0 10px 0 10px;
}

.btn-box button {
  width: 9vh;
  height: 9vh;
  margin: 2px;
  border-radius: 50%;
  color: red;
  cursor: pointer;
}

.lightOn {
  @include button-shading(yellow);
  border: none;
}
.lightOff {
  @include button-shading(orange);
  border: none;
}
.reset {
  background-color: black;
  border: 1px solid white;
  font-size: 1.8vh;
}
.reset:hover {
  background-color: white;
  border: 1px solid black;
}

#g {
  background-color: rgb(22, 22, 22);
}
#w {
  @include peg-shading(lightgray);
}
#r {
  @include peg-shading(red);
}
#o {
  @include peg-shading(orange);
}
#y {
  @include peg-shading(yellow);
}
#gn {
  @include peg-shading(green);
}
#b {
  @include peg-shading(blue);
}
#p {
  @include peg-shading(purple);
}

.hole-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hole-border div {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  margin: 0;
}

#w.on {
  @include on-peg(white);
}

#r.on {
  @include on-peg(red);
}

#o.on {
  @include on-peg(orange);
}

#y.on {
  @include on-peg(yellow);
}

#gn.on {
  @include on-peg(green);
}

#b.on {
  @include on-peg(blue);
}

#p.on {
  @include on-peg(purple);
}
